/** @format */

.task_container {
  border: 1px solid #dfe4ea;
  padding: var(--spacing);
  margin: 7px;
  border-radius: 5px;
}
.icon {
  margin-right: 12px;
}
.menu_text {
  padding-left: 7px;
}
.task_header {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.task_box {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.title {
  font-size: var(--text-size);
}
.time {
  padding-left: var(--spacing);
  font-size: 0.7rem;
  color: rgb(206, 206, 206);
  font-weight: 400;
}
.task_body {
  font-size: 0.95rem;
}
.imp_task {
  border: 2px solid var(--danger-border);
  background-color: var(--danger-border);
}
.tag {
  font-size: 0.5rem !important;
  font-weight: 500;
  margin-left: var(--spacing);
}
.complete_tag {
  background-color: var(--success-border) !important;
  color: white !important;
}
.imp_tag {
  background-color: var(--danger-border) !important;
  color: white !important;
}
.Pen_tag {
  background-color: var(--pending-border) !important;
  color: white !important;
}
